<div class="ui container centre aligned">
	<div class="row">
		<div class="ui header search-logo">Workype</div>
	</div>
	<div class="row">
		<div class="ui category search">
		  <div class="ui fluid icon input">
		    <input class="prompt" type="text" placeholder="Search...">
		    <i class="search icon"></i>
		  </div>
		</div>
	</div>

</div>
